<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <h1>Product</h1>
        <div class="products">
            <% products.forEach(product => { %>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src= '<%= product.img %>' alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title"> <%= product.name %> </h5>
                    <p class="card-text"> <%= product.des %> </p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            <% }); %>
            
        </div>
    </div>
    
</body>

</html>